/* .App {
  
} */
.Header{
  text-align: center;
}
.Header a{
  color: blue;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}
.Footer {
  background-color: cadetblue;
  text-align: center;
  color: rgb(0, 0, 0);
}
