.todo-container{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
}
.todo-item{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 1s linear;
    .numb{
        font-weight: bold;
    }
    
}